table {
    border-style: dashed;
    border-color: black;
}

th {
    border-style: solid;
    border-color: blue;
}

td {
    border-style: double;
    border-color: red;
}

a {
    color: green;
    text-decoration: none;
}

ul a {
    color : green;
    font-weight: bold;
}