table {
    border-style: dashed;
    border-color: black;
}

th {
    border-style: solid;
    border-color: blue;
    padding: 5px;
}

td {
    border-style: double;
    border-color: red;
    padding: 10px;
    text-align: center;
}

h1 {
    color: blueviolet;
    background-color: aqua;
}

.surligne {
    background-color: yellow;
}