table {
    border-style: dashed;
    border-color: black;
    justify-content: center;
    display: flex;
}

th {
    border-style: solid;
    border-color: blue;
    font-size: 50px;
    padding: 5px;
}

a {
    font-size: 10px;
    text-align: end;
}

td {
    border-style: double;
    border-color: red;
    padding: 10px;
    text-align: center;
}

h1 {
    color: rgb(99, 22, 99);
    text-align: center;
}

form {
    text-align: center;
}

.surligne {
    background-color: yellow;
}